@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 11 15 20;
    --foreground: 255 255 255;
  }

  * {
    border-color: theme('colors.slate.800');
  }

  body {
    @apply bg-[#0B0F14] text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
